@tailwind base;
@tailwind components;
@tailwind utilities;

/* TAILWIND ÇALIŞMASA BİLE BUNLAR ÇALIŞIR - ZORUNLU KODLAR */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  background-color: #000000 !important; /* !important ile zorla siyah yap */
  color: #ffffff !important;            /* !important ile zorla beyaz yazı yap */
  min-height: 100vh;
}